PowerHour.xcodeproj/project.xcworkspace/xcuserdata/mregan.xcuserdatad/UserInterfaceState.xcuserstate
PowerHour.xcodeproj/xcuserdata/mregan.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
PowerHour.xcodeproj/xcuserdata/mregan.xcuserdatad/xcschemes/PowerHour.xcscheme
PowerHour.xcodeproj/xcuserdata/mregan.xcuserdatad/xcschemes/xcschememanagement.plist
PowerHour.xcodeproj/xcuserdata
PowerHour.xcodeproj/project.xcworkspace/xcuserdata/